{% extends "./base.html" %}
{% block title %} Gestión de productos {% endblock %}
{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong class="text-dark">{{ message }}</strong>
        </div>
        {% endfor %}
        {% endif %}
        <h2>Gestión de productos</h2>
        <div class="card">
            <div class="card-body">
                <form action="registrarProducto/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <p>Producto:</p>
                        <input type="text" id="producto" name="producto" class="form-control" placeholder="Nombre del producto" minlength="3" required>
                    </div>
                    <div class="form-group">
                        <p>Categoría:</p>
                        <select id="categoria" name="categoria">
                            <option value="Verdura">Verdura</option>
                            <option value="Lacteo">Lácteo</option>
                            <option value="Fruta">Fruta</option>
                            <option value="Cereal">Cereal</option>
                            <option value="Carnes">Carnes</option>
                            <option value="Otro">Otro</option>
                        </select>
                        <!-- <input type="text" id="txtCategoria" name="txtCategoria" class="form-control" placeholder="Categoría" required> -->
                    </div>
                    <!-- <span>{{ productlist.client }}</span> -->
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <div class="table-responsive py-2">
            <h1>Listado de productos</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>IdProducto</th>
                        <th>Producto</th>
                        <th>Categoría</th>
                        <th>Fecha de creación</th>
                        <th>Fecha de modificación</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in productos %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{p.id}}</td>
                        <td>{{p.product}}</td>
                        <td>{{p.type}}</td>
                        <td>{{p.date_created | date:"d-m-Y h:m"}}</td>
                        <td>{{p.last_update | date:"d-m-Y h:m"}}</td>
                        <td><a href="edicionProducto/{{p.id}}" class="btn btn-info">Editar</a></td>
                        <td><a href="eliminarProducto/{{p.id}}" class="btn btn-danger btnEliminacion">Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
    </div>
</div>
{% endblock %}